#background {
    padding: 250px;
    margin-bottom: 50px;
    background: no-repeat;
    filter: grayscale(0.5);
}

.nav a {
    font-size: 25px;
    color: #b89b3b;
}

.nav a:hover {
    color: #ffffff;
}

#header {
    color: #ffffff;
    text-align: center;

}

.tituloHeader h1 {
    font-weight: 800 !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}

body {
    margin-bottom: 300px;
}

.tooltipCarta {
    text-decoration: none;
    position: relative;
}

.tooltipCarta span {
    display: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: black;
    background: white;
    position: absolute;
}

.tooltipCarta span img {
    max-width: 215px;
    height: 315px;
}

.tooltipCarta:hover span {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    min-height: 128px;
    border: 1px solid black;
    margin-top: 0;
    margin-left: 0;
    overflow: hidden;
    padding: 4px;
    z-index: 100;
}

.display-cartas {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.display-cartas img {
    width: 215px;
    height: 315px;
    margin: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, Geneva, sans-serif;
}

p,
div {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
