#background {
    padding: 250px;
    margin-bottom: 50px;
    background-position: center top;
    background-image: url("../imagens/Fiel_arte.jpg");
    filter: grayscale(0.5);
}

.nav a {
    font-size: 25px;
    color: #b89b3b;
}

.nav a:hover {
    color: #ffffff;
}

#header {
    color: #ffffff;
    text-align: center;

}

.tituloHeader h1 {
    font-weight: 800 !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}