body {
    background: #202020;
}

body,
html {
    margin: 0;
    padding: 0;
}

#menu {
    background: #2a2a2a;
    width: 20%;
    height: 100%;
    position: fixed;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



#menu ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 20px 20px 20px 20px;
    color: white;
    border-bottom: rgba(255, 255, 255, 0.082) solid 1px;
    font-family: 'Encode Sans Condensed', sans-serif;
}

#menu ul li a:hover {
    background: #424141;
}

#container {
    overflow: hidden;
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

#main {
    width: 100%;
    background: #ffffff;
    padding-left: 400px;
    padding-right: 30px;
    font-family: 'Encode Sans Condensed', sans-serif;
    position: static;
}
#main{
    font-size: 15px;
}
#sobre{
    justify-content: center;
}
#sobre img{
    margin: 95px;
    width: 190px;
    height: 190px;
}