.tooltipCartaCarta {
    text-decoration: none;
    position: relative;
}

.tooltipCarta span {
    display: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: black;
    background: white;
    position: absolute;
}

.tooltipCarta span img {
    width: 215px;
    height: 315px;
}

.tooltipCarta:hover span {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    min-height: 128px;
    border: 1px solid black;
    margin-top: 12px;
    margin-left: -100px;
    overflow: hidden;
    padding: 8px;
    z-index: 100;
}