#menu {
    position: relative;
    float: left;
    width: 300px;
    padding: 50px 0;
}

#lista li {
    overflow: hidden;
    background: gray;
    width: 100%;
}

#lista ul {
    list-style: none;
}

#lista li a {
    display: block;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
}

#lista li a:hover {
    background: rgb(187, 183, 183);
}

.container {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1200px;
}

body {
    background-color: wheat
}